<?xml version="1.0"?>
<config>
  <modules>
    <Purpleweb_CatalogDescMore>
      <version>0.1.0</version>
    </Purpleweb_CatalogDescMore>
  </modules>
  <global>
    <helpers>
      <catalogdescmore>
        <class>Purpleweb_CatalogDescMore_Helper</class>
      </catalogdescmore>
    </helpers>
	<models>
	  <catalogdescmore>
		<class>Purpleweb_CatalogDescMore_Model</class>
		<resourceModel>catalogdescmore_mysql4</resourceModel>
	  </catalogdescmore>
	</models>
	<resources>
	  <categoryattribute1465289254_setup>
		<setup>
		  <module>Purpleweb_CatalogDescMore</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1465289254_setup>
	  <categoryattribute1465289254_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1465289254_write>
	  <categoryattribute1465289254_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1465289254_read>
	</resources>
  </global>
</config> 